
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">© <a href="http://hrm.inzint.com">hrm.inzint.com</a> 2020-2022</span>
    <span class="pull-right">
      <a href="mailto:hr@inzint.com"><i class="fa fa-envelope fa-lg"></i></a>
    </span>
  </p>
</footer>
