Confirm registration on hrm.inzint.com
=====
<p>Hello {{name}},</p>

<p>To complete your registration process in hrm.inzint.com please click on the following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
